@import 'variables';

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin respond-to($bp) {
  @if $bp == mobile {
    @media (max-width: $bp-mobile) { @content; }
  } @else if $bp == small {
    @media (max-width: $bp-small)  { @content; }
  } @else if $bp == tablet {
    @media (max-width: $bp-tablet) { @content; }
  }
}
